/* Base styles for larger screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ADLaM Display', cursive;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-family: 'PT Serif', serif;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border: 3px solid #00feba;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffe;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    border: 1px solid #00feba;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #00feba;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather {
    display: none;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

/* Responsive styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .card {
        width: 90%;
        max-width: 90%;
        /* Adjust the maximum width as needed */
        margin: 50px auto 0;
        padding: 20px;
    }

    .search {
        flex-direction: column;
        margin-top: 20px;
    }

    .search input {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .search button {
        width: 75%;
        border-radius: 10px;
        height: 35px;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .details {
        margin-top: 30px;
    }
}